.diary1 h1,
.diary1 h2,
.diary1 h3,
.diary1 h4,
.diary1 h5 {
    font-family: "Love Ya Like A Sister", cursive;
}

.diary1 p,
.diary1 label {
    font-family: "Coming Soon", cursive;
    margin: 0;
}

/**************************************************************/
/************************ PAGES STYLE ************************/
/************************************************************/

.pageDiary1 {
    background-color: #fdf6e2;
    color: #333;
    box-sizing: border-box;
    padding: 15px 30px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    user-select: none;
}

.pageDiary1 .page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageDiary1 .page-content h2 {
    margin: 10px 0;
}

.pageDiary1:hover {
    cursor: grab;
}

.pageDiary1:active {
    cursor: grabbing;
}

.pageDiary1 .page-footer {
    margin-top: auto;
    margin-left: auto;
}

.pageDiary1.book-cover {
    background-color: #8d5a2b;
    color: white;
}

.pageDiary1.book-cover.start .page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageDiary1 .book-cover.start label {
    margin-top: auto;
    font-size: .9rem;
}

.pageDiary1 .back-cover-text {
    margin-top: auto;
}

.pageDiary1 .img-coverContainer {
    margin: auto 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    pointer-events: none;
}

.pageDiary1 .img-cover {
    width: 100%;
    border-radius: 20px;
    border: rgb(255, 255, 113) 2px solid;
}

.pageDiary1 .img-coverContainer::after {
    content: '🌸';
    font-size: 1.8rem;
    position: absolute;
    right: -10px;
    top: -10px;
}

.pageDiary1 .img-coverContainer::before {
    content: '🌼';
    font-size: 1.8rem;
    position: absolute;
    left: -10px;
    bottom: -10px;
}

.pageDiary1 .imgFirstPage {
    align-self: center;
    width: 33%;
}

.pageDiary1 .greetingsDiv,
.pageDiary1 .myPrincess {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-style: italic;
    font-size: .9rem;
}

.pageDiary1 .greetingsDiv img {
    width: 100%;
    border-radius: 20px;
}

.pageDiary1 .myPrincess img {
    margin-top: 6px;
    width: 90%;
    border-radius: 20px;
}

.pageDiary1 .audioHowIFallInLove,
.pageDiary1 .audioAntiheroVsKnight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pageDiary1 label {
    font-size: .9rem;
    text-align: center;
}

.pageDiary1 .imgKnights {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0 2px;
}

.pageDiary1 .imgKnights img {
    border-radius: 8px;
}

.pageDiary1 .imgKnights div:first-child img {
    width: 100%;
}

.pageDiary1 .imgKnights div:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pageDiary1 .imgKnights div:last-child img {
    width: 100%;
}

.pageDiary1 .imgGifts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.pageDiary1 .containerGifts {
    display: flex;
    gap: 5px;
}

.pageDiary1 .imgGifts .containerGifts div {
    width: 50%;
}

.pageDiary1 .imgGifts img,
.pageDiary1 .imgGifts audio,
.pageDiary1 .imgGifts video {
    width: 100%;
    border-radius: 10px;
}

.pageDiary1 .imgGifts video {
    height: 185px;
}

.pageDiary1 .text-poem {
    text-align: center;
}

.pageDiary1 .divAngel {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #8d5a2b;
}

.pageDiary1 .divAngel img {
    height: 200px;
    flex-grow: 1;
    border: 1px solid #8d5a2b;
}

.pageDiary1 .funnyMoments11 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageDiary1 .funnyMoments11 div:first-child {
    display: flex;
    gap: 3px;
    margin-bottom: 10px;
}

.pageDiary1 .funnyMoments11 img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.pageDiary1 .funnyMoments11 img:last-child {
    height: 80%;
}

.pageDiary1 .herShine {
    width: 80%;
    margin: 10px 0;
    border-radius: 10px;
    align-self: center;
}

.pageDiary1 .imgMutualCouple {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.pageDiary1 .imgMutualCouple img {
    width: 80%;
    border: 4px solid #8d5a2b;
}

.pageDiary1 .togetherWeAreGreat {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pageDiary1 .togetherWeAreGreat img {
    width: 65%;
    border-radius: 10px;
}

.pageDiary1 .togetherWeAreGreat img:first-child {
    align-self: flex-end;
    border: 2px solid green;
}

.pageDiary1 .togetherWeAreGreat img:last-child {
    border: 2px solid goldenrod;
}

.pageDiary1 .ImInLove {
    display: flex;
    margin: 10px 0;
}

.pageDiary1 .ImInLove img {
    width: 50%;
    border: 4px solid white;
}

.pageDiary1 .ImInLove img:last-child {
    height: 50%;
}

.pageDiary1 .ourFirstMonth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.pageDiary1 .ourFirstMonth img {
    width: 100%;
    border-radius: 10px;
}

.pageDiary1 .togetherWeAreStrong {
    border-radius: 10px; 
    margin-top: 10px;
    width: 90%; 
    align-self: center; 
    box-shadow: 0 0 10px 3px #ffb625;
}

.pageDiary1 .end-cover {
    position: relative  
}

.pageDiary1 .end-cover img {
    width: 50%;
    position: absolute;
    border: 4px solid white;
}

.pageDiary1 .end-cover img:last-child {
    top: 40dvh;
    right: 0;
}